<form action="/sessions" method="post">
	Email: <input type="text" name="email" placeholder="Email">
	Password: <input type="password" name="password" placeholder="Password">
	<input type="submit" value="Sign in">
</form>
