body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(/images/seamless_paper_texture.png);
}

a.button {
  display: inline-block;
  width: 80px;
  background-color: #82B743;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  margin: 0 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
}

header {
  height: 40px;
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 0 5px;
}

header > * {
  margin: auto 0;
}

header #logo {
  display: flex;
}

header #user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;
}