<% if current_user %>
  Welcome, <%= current_user.email %>
  <form method="post" action="/sessions">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign out">
  </form>

<% else %>
  <a href="/sessions/new">Sign in</a>
  <a href="/users/new">Sign up</a>
<% end%>

<h1>Welcome to the bookmark manager</h1>

Current links:
<ul>
	<% @links.each do |link| %>
	<li><a href="<%= link.url %>"><%= link.title %></a></li>
	<% end %>
</ul>

<div id="new-link">
	<form action="/links" method="post">
		Url: <input type="text" name="url">
		Title: <input type="text" name="title">
		Tags: <input type="text" name="tags">
		<input type="submit" value="Add link">
	</form>
</div>