<!DOCTYPE html>
<html>
<head>
	<title>Bookmark Manager</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
<header>
<div id="logo"><a href="/">Bookmark Manager</a></div>
	<%= partial :flash %>
  <%= partial :header%>
  </header>
	<%= yield %>
</body>
</html>